extends layout

block content
  #wrapper
    #logo
        h1
          |#{title2}
          img(src='/images/livelong.png', height ='20', width ='20')
        
    #display
        #login        
            form(method='post')
                | Enter your name if you want to be a ninja
                div
                    input(type='text', name='username')
                    input(type='submit', value='Log In')
        
    include footer
